body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(228, 226, 226);
}

.container {
    /* background-color: aquamarine; */
    height: 500px;
    
}

.titleDiv {
    display: flex;
    justify-content: center;
    font-family: 'Slackey', cursive;
   font-size: 3rem;
}


.jobButton {
    background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin: 0 0.5rem;
  transition: 0.1rem;;
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
  outline-color: hsl(186, 100%, 94%);
  font-family: 'Mako', sans-serif;
  
}

.jobButton:active {
    outline: none;
    
}

.jobButton:focus {
    outline: none;
}

.jobButton:hover {
    color: #2caeba;
    box-shadow: 0 2px #2caeba;
    transform: scale(1.23);
}
.activeButton {
    color: #2caeba;
    box-shadow: 0 2px #2caeba;
   
}

.details h2 {
    font-family: 'Roboto Mono', monospace;
}

.details h4 {
    margin-top: 0px;
    text-transform: uppercase;
  color:  hsl(210, 22%, 49%);
  background: hsl(212, 33%, 89%);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 10px;
}

p.job-date {
    letter-spacing: 0.1rem;
}

.duty {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 2em;
}

.arrow {
    color: #2caeba;;
}

.duty p {
    font-family: 'Mako', sans-serif;
}

.more {
    display: flex;
    justify-content: center;
}

.more button {
    color: white;
    background-color: #2caeba;
    border-color: transparent;
}

.more button:focus {
    outline: none;
}



@media screen and (min-width: 992px) {
    .container {
       
        height: 500px;
        width: 900px;
        
    }


    .job {
        margin-top: 50px;
    }


    .btn-container {
        flex-direction: column;
    justify-content: flex-start;
    }

    .jobButton {
        margin-bottom: 10px;
    }

    .details h2 {
        font-size: 1.5rem;
    }
}




@media screen and (max-width: 500px) {
    .container {
        width: 400px;
    }

    .details {
        margin-top: 20px;
    }

    .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-container.button {
        font-size: medium;
    }

    .jobButton {
        font-size: 10px;
    }

    .details h2 {
        font-size: 1.2rem;
    }
  
}



